<% title "搜索结果" %>
<div class="html typelist search">
    <div class="topline">
        <input type="text" placeholder="酒名/产地" id="J_sinput" class="ctrol">
    </div>
    <div class="wlist" id="J_wlist"></div>
    <a href="javascript:;" class="nomore" id="J_more"><img src="/wap/assets/images/nomore.png" class="noimg"><span id="J_moretext"></span></a>
</div>

<script type="text/javascript">
    $(function(){
        var input_sub = false;
        var sc = getRequest(),
            data = {"keyword":sc.key,"page":1,"pagesize":12},
            isajax = false,//设置开关 防止重复提交;
            isdone = false; // 数据是否加载完毕

        var J_wlist = $('#J_wlist'),
            J_more = $('#J_more'),
            J_moretext = $('#J_moretext'),
            J_sinput = $('#J_sinput');


        J_sinput.val(sc.key);

        J_sinput.change(function(){
            console.log(123)
            input_sub = true;
            var v = $(this).val().trim();
            if(v){
                data.keyword = v;
                getajax();
            }
        });
        // 获取列表数据
        getajax();
        var ajax = '';
        function getajax(first){
            if(first){
                J_wlist.html('');
                isdone = false;
            };

            if (input_sub) {
                J_wlist.html('');
            }

            // ajax获取列表数据
            isajax = true;
            J_moretext.html("正在加载···");
            ajax = $.ajax({ 
                type: "GET",
                url: "/wap/search",
                data: {keyword: data.keyword, page: data.page, pagesize: data.pagesize},
                dataType: "json",
                success: function(res){
                    if(res.code){
                        var dt = res.data,len = dt.length,str = '';
                        for(var i=0;i<len;i++){
                            var v = dt[i];
                            str += '<a href="/wap/items/'+v.pid+'" class="witem">\
                                    <p><img src="'+v.imgsrc+'" class="witem_img"></p>\
                                    <p class="witem_name">'+v.name+'</p>\
                                    <p class="witem_pn"><span class="witem_p">￥'+parseFloat(v.price).toFixed(2)+'</span>已售&ensp;'+v.sold+'</p>\
                                </a>';
                        };
                        if((data.pagesize * data.page) >= res.total){
                            isdone = true;
                            J_moretext.html("没有更多了");
                        }else{
                            J_moretext.html("点击加载更多");
                        };

                        J_wlist.append(str);
                    }
                }
            });
        };

        // 点击加载更多
        J_more.click(function(){
            if(isdone){
                CUES.tip({"msg":"没有更多了","type":"danger"});
                return false;
            };
            input_sub = false;
            data.page++;
            getajax();
        });

    });
</script>