<% provide(:title, "微信支付") %>
<div class="page">
  <div class="weui-msg">
    <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
    <div class="weui-msg__text-area">
      <h2 class="weui-msg__title">支付成功</h2>
      <p class="weui-msg__desc">订单金额：<%= @payment.total_fee %>元</p>
    </div>
    <% if @payment.wxpay? %>
    <div class="weui-msg__opr-area">
      <p class="weui-btn-area">
        <%= link_to '订单详情', wap_order_path(@payment.paymentable), class: 'weui-btn weui-btn_primary' %>
        <%= link_to '返回首页', wap_root_path, class: 'weui-btn weui-btn_default' %>
      </p>
    </div>
    <% end %>
    <%#= render 'footer' %>
  </div>
</div>