<% provide(:title, "支付成功") %>

<div class="page">
  <div class="weui-msg">
    <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
    <div class="weui-msg__text-area">
      <h2 class="weui-msg__title">支付成功!</h2>
      <p class="weui-msg__desc">订单金额：<%= f @payment.amount %>元</p>
    </div>
    <div class="weui-msg__opr-area">
      <p class="weui-btn-area">
        <%= link_to '确定', 'javascript:void(0);', class: 'weui-btn weui-btn_primary', id: 'site' %>
      </p>
    </div>
    <%#= render 'footer' %>
  </div>
</div>

<%= render 'pay' %>
