<!DOCTYPE html>
<html>
<head>
  <title>订单打印</title>
</head>
<body>
<%= render 'table', :object => @shop_order, :as => :shop_order %>
<script>
  // var html = '<%= j (render :partial => 'pro/shop_orders/table', :object => @shop_order, :as => :shop_order) %>'
  // $(".to_print").remove();
  // $("body").html(html);
  window.print();
</script>
</body>
</html>