<% content_for :main_content do %>
    <div class="main-content ">
      <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
          <%= render 'partials/home' %>
          <li><%= link_to '内容管理', 'javascript:;' %></li>
          <li>编辑</li>
        </ul>
        <%#= render '/layouts/qrcode' %>
      </div>
      <div class="page-content">
        <div class="row">
        <%=render 'form'%>
        </div>
      </div>
    </div>
<% end %>
