<form>
  <div class="modal-body">
    <div class="col-xs-12">
      <div class="form-group">
        <!-- <label class="control-label">下载小程序二维码</label> -->
        <div class="clearfix" style="text-align: center;">
          <%= image_tag "data:image/jpg;base64,#{@image}", style: 'width:300px' %>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="modal-footer">
      <button type="button" class="btn btn-sm btn-default" data-dismiss="modals">返回</button>
    </div>
  </div>
</form>
