default: &default
  SECRET_KEY_BASE: 'filler'
  weixin_message_verify_token: 'filler'
  weixin_message_encrypt_decrypt_key: 'filler'
  # weixin_message_external_handler_url: 'http://example.com/message'
  # weixin_message_external_handler_format: 'json/xml'
  open_weixin_platform_test_mp_user_app_id: "wx570bc396a51b8ff8"
  open_weixin_platform_test_mp_user_user_name: "gh_3c884a361561"
  open_weixin_platform_test_wxa_user_app_id: "wxd101a85aa106f53e"
  open_weixin_platform_test_wxa_user_user_name: "gh_8dad206e9538"
  open_weixin_platform_app_id: "filler"
  open_weixin_platform_app_secret: ""
  mini_program_request_domains: "https://wp.vkelai.com,https://open2.weixin.vcooline.com"
  mini_program_ws_request_domains: ""
  mini_program_upload_domains: ""
  mini_program_download_domains: ""
  qiniu_access_key: "filler"
  qiniu_secret_key: "filler"
  qiniu_domain: "filler"
  qiniu_bucket: "filler"

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
