<%= javascript_include_tag '/javascripts/jquery-qrcode.min' %>
<form>
  <div class="modal-body">
    <div style="width: 100%;">
      <span>
        <div class="qrcode" style="text-align: center;"><div id="qrcode"></div></div>
      </span>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-primary" data-fn="submit" onclick="$('.modal-backdrop', window.parent.document).remove();$('.modal-iframe', window.parent.document).remove();">确定</button>
    <!-- <button type="button" class="btn btn-sm btn-default" data-dismiss="modals">取消</button> -->
  </div>
</form>

<img src="<%= @ec_shop.logo_url %>" id="mLogo" hidden="hidden"  />

<script type="text/javascript">
  var url = "<%= "#{Settings.m_host}/wap/shops/#{@ec_shop.id}/product_list" %>"
  $('#qrcode').qrcode({
    render: 'canvas',
    minVersion: 1,
    maxVersion: 40,
    ecLevel: 'H',
    left: 0,
    top: 0,
    size: 230,
    fill: '#000',
    background: 'white',
    text: url,
    radius: 0,
    quiet: 2,
    mode: 4,
    mSize: 0.13,
    mPosX: 0.5,
    mPosY: 0.5,
    label: 'no label',
    fontname: 'sans',
    fontcolor: '#000',
    image: $('#mLogo')[0]
  });
</script>
