<%= form_for @employee_role, validate: true, :html => {id: "role-form", role: "form" } do |f| %>
  <div class="modal-body">
    <div class="form-group">
      <label class="control-label">角色名称<span class="required-star">*</span></label>
      <div class="clearfix">
        <%= f.text_field :name, maxlength: 50, class: "col-xs-12" %>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label">页面权限<span class="required-star">*</span></label>
      <div class="clearfix">
        <% Permission.all.each do |permission| %>
          <label style="width:30%">
            <%= check_box_tag 'permission[permission_ids][]', permission.id, @employee_role.role_permission_maps.map{|m| m.permission_id}.include?(permission.id), @employee_role.new_record? ? {checked: false} : {} %>
              <%= permission.name %>
          </label>
        <% end %>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="modal-footer">
    <input type="submit" class="btn btn-sm btn-primary" data-fn="submit" value="确定" />
    <button type="button" class="btn btn-sm btn-default" data-dismiss="modals">取消</button>
  </div>
<% end %>
