<% title "评价" %>
<div class="html evaluate">
  <% @order_items.each do |order_item| %>
    <div class="J_item item" data-pid="<%= order_item.id %>">
      <div class="item_top">
        <img src="<%= order_item.ec_item.ec_product.ec_picture.try(:pic_url) %>" class="imgp">
        <p class="text">评价</p>
        <p class="J_stars stars">
          <a href="javascript:;" class="J_star star"></a>
          <a href="javascript:;" class="J_star star"></a>
          <a href="javascript:;" class="J_star star"></a>
          <a href="javascript:;" class="J_star star"></a>
          <a href="javascript:;" class="J_star star"></a>
        </p>
      </div>
      <div class="item_bot">
        <textarea class="J_ctrol ctrol" placeholder="请在此写下购买过程的体验和使用感受"></textarea>
      </div>
    </div>
  <% end %>
  <p class="bot"><a href="javascript:;" class="btn" id="J_btn">发表评价</a></p>
</div>
<script type="text/javascript">
  $(function(){
    var sc = getRequest(),
      J_stars = $('.J_stars'),
      J_item = $('.J_item'),
      J_ctrol = $('.J_ctrol'),
      J_btn = $('#J_btn'),
      ilen = J_item.length;

    var isajax = false; //设置开关 防止重复提交

    J_stars.each(function(){
      var self = $(this),J_star = self.find('.J_star'),len = J_star.length;
      J_star.each(function(index){
        $(this).click(function(){
          for(var i=0;i<len;i++){
            i<=index?J_star.eq(i).attr('class','star star_ac'):J_star.eq(i).attr('class','star')
          };
          self.attr('data-point',index+1)
        })
      });;
    });

    J_btn.click(function(){
      var isp = false,data = [];
      for(var i=0;i<ilen;i++){
        var obj = {};
        obj.pid = J_item.eq(i).attr('data-pid'); // 获取商品id
        if(!J_stars.eq(i).attr('data-point')){
          isp = true;
        }else{
          obj.point = parseInt(J_stars.eq(i).attr('data-point')); // 获取商品打分
        };
        if(J_ctrol.eq(i).val().trim().length==0){
          isp = true;
        }else{
          obj.content = J_ctrol.eq(i).val().trim(); // 获取商品评价
        };
        data.push(obj);
      };
      if(isp){
        CUES.tip({"msg":"有商品暂未评价","type":"danger"})
        return false;
      };

      var order_id = <%= params[:order_id] %>;
      console.log(data);
      isajax = true;
        // ajax发表评论
        $.ajax({
          type: "POST",
          url: "/wap/comments",
          data: {data, order_id: order_id},
          dataType: "json",
          success: function(res){
            isajax = false;
            if(res.code){
              CUES.tip({"msg":"评价提交成功","type":"success","callback":function(){
                // 回调
                window.location.href = "/wap/orders/<%= params[:order_id] %>"
                // window.history.back();
              }});

            }
          }
        });

    });


  });
</script>
